<?xml version="1.0" ?>
<!DOCTYPE beans
  PUBLIC '-//SPRING//DTD BEAN//EN'
  'http://www.springframework.org/dtd/spring-beans.dtd'>
<beans>




	<bean class="org.openamf.examples.spring.GreetingServiceImpl" id="greetingService">


		<property name="greeting">


			<value>
				Buenos Dias!
			</value>


		</property>
		<property  name ="namedItem">
				<ref bean="IhaveName"/>
		</property>


	</bean>


	<bean class="org.openamf.examples.Person" id="IhaveName">
		<property name="firstName">
			<value>
				Spring Person FirstName
			</value>
		</property>
	</bean>


	<bean class="org.openamf.examples.spring.HelloWorld" id="hello"/>


</beans>
