/**********************************************************
/ * Font 
/**********************************************************/
@font-face{
	src: url("/assets/fonts/YD_YGO54.swf");
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:bold;
	color: #000000; 
}

/* Digital Readout Thick 은 '%' 문자가 표현안됨  - TBDigitA로 대체*/
@font-face
{
 	src: url("/assets/fonts/Digital Readout Thick.swf");
	fontFamily: "Digital Readout Thick"; 
}

@font-face
{
	src: url("/assets/fonts/TBDigitA.swf");
	fontFamily: "TBDigitA";
	fontWeight: normal;
}


@font-face
{
	src: url("/assets/fonts/DINBOLD.swf"); 
	fontFamily: "Dinbol";
	font-weight:normal;
	color:#000000;
}

/**********************************************************
/* Chart TitleBar Label Style
/**********************************************************/
.chartTitleLabelStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 13pt;
    color:#205082;
    textAlign: center;
    paddingRight: 6;
    /*paddingTop: 4;*/
}

.chartTitleLabelStyle1{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 13pt;
    color:#cae9f9;
    textAlign: center;
    paddingRight: 6;
    /*paddingTop: 4;*/
}

.backupPieChartLabelStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 12pt;
    color:#cae9f9;
    textAlign: center;
    paddingRight: 6;
}

/**********************************************************
/* Application
/**********************************************************/
Application
{	
	
	fontSize:12;
	paddingBottom : 0;
	paddingTop : 0;
	paddingLeft : 0;
	paddingRight : 0;
	color:#d1d1d1;
}




/**********************************************************
/* TileList
/**********************************************************/
TileList{
	selectionColor : #E8E8E8;
	rollOverColor : #E8E8E8;
}




/**********************************************************
/* TobitPanel 상단, 하단 이미지
/**********************************************************/
TobitPanel{
	backImg: Embed(source="/assets/panels/dark/panel_contents.png");
	topImg: Embed(source="/assets/panels/dark/panel_title.png");
	/* backImg scale9Grid 사이즈 */
	backX:15;
	backY:15;
	backWidth:406;
	backHeight:100;	
	/* top height, backImg의 y좌표 값*/
	topHeight:33;	
	/* 패널 타이틀 y 좌표*/
	titleY:3;
	/* 패널 패딩*/
	paddingTop:38;
	paddingLeft:15; 
	paddingRight:15; 
	paddingBottom:15; 
}

TobitPopupPanel{
	backImg: Embed(source="/assets/panels/dark/bg_Popup.png");
	/* backImg scale9Grid 사이즈 */
	backX:53;
	backY:53;
	backWidth:455;
	backHeight:229;	
	/* 패널 타이틀 y 좌표*/
	titleX:40;
	titleY:22;
	/* 패널 패딩*/
	paddingTop:60;
	paddingLeft:25; 
	paddingRight:25; 
	paddingBottom:35; 
	/* 패널 닫기버튼 위치*/
	closePaddingRight:27;
	closePaddingTop:20;
	
}


.popupClose{
	downSkin: Embed("/assets/panels/dark/btn_colse_down.png");
	overSkin: Embed("/assets/panels/dark/btn_close_over.png");
	upSkin: Embed("/assets/panels/dark/btn_colse_up.png");
}

/**********************************************************
/* TobitSubPanel 상단, 하단 이미지
/**********************************************************/
TobitSubPanel{
	backImg: Embed(source="/assets/panels/glassBox2.png");
	/* backImg scale9Grid 사이즈 */
	backX:15;
	backY:15;
	backWidth:1207;
	backHeight:142;	
}

/**********************************************************
/* TobitPanel 타이틀 스타일이다.
/**********************************************************/
.tPanelTitleStyle{
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:bold;
    fontSize: 16pt;
    color:#c4e2ff;		
}


/**********************************************************
/* 상단 타이틀 
/**********************************************************/
.topTitle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 24pt;
    color:#96c0e4;			
}

DataTip{
    fontSize: 12pt;		
}
.errorTip{
    fontSize: 12pt;		
}

/**********************************************************
/* 상단 이미지
/**********************************************************/
.prevImg{
	disabledSkin: Embed("/assets/main/topWhite/btn_preDisable.png");
	downSkin: Embed("/assets/main/topWhite/btn_preDown.png");
	overSkin: Embed("/assets/main/topWhite/btn_preOver.png");
	upSkin: Embed("/assets/main/topWhite/btn_preUp.png");
	selectedDownSkin: Embed("/assets/main/topWhite/btn_preOver.png");
	selectedOverSkin: Embed("/assets/main/topWhite/btn_preOver.png");
	selectedUpSkin: Embed("/assets/main/topWhite/btn_preOver.png");	
}

.nextImg{
	disabledSkin: Embed("/assets/main/topWhite/btn_nextDisable.png");
	downSkin: Embed("/assets/main/topWhite/btn_nextDown.png");
	overSkin: Embed("/assets/main/topWhite/btn_nextOver.png");
	upSkin: Embed("/assets/main/topWhite/btn_nextUp.png");
	selectedDownSkin: Embed("/assets/main/topWhite/btn_nextOver.png");
	selectedOverSkin: Embed("/assets/main/topWhite/btn_nextOver.png");
	selectedUpSkin: Embed("/assets/main/topWhite/btn_nextOver.png");	
}

.pcImg{
	disabledSkin: Embed("/assets/main/topWhite/btn_scDisable.png");
	downSkin: Embed("/assets/main/topWhite/btn_scDown.png");
	overSkin: Embed("/assets/main/topWhite/btn_scOver.png");
	upSkin: Embed("/assets/main/topWhite/btn_scUp.png");
	selectedDownSkin: Embed("/assets/main/topWhite/btn_scOver.png");
	selectedOverSkin: Embed("/assets/main/topWhite/btn_scOver.png");
	selectedUpSkin: Embed("/assets/main/topWhite/btn_scOver.png");	
}

.closeImg{
	disabledSkin: Embed("/assets/main/topWhite/btn_closeDisable.png");
	downSkin: Embed("/assets/main/topWhite/btn_closeDown.png");
	overSkin: Embed("/assets/main/topWhite/btn_closeOver.png");
	upSkin: Embed("/assets/main/topWhite/btn_closeUp.png");
	selectedDownSkin: Embed("/assets/main/topWhite/btn_closeOver.png");
	selectedOverSkin: Embed("/assets/main/topWhite/btn_closeOver.png");
	selectedUpSkin: Embed("/assets/main/topWhite/btn_closeOver.png");	
}

/**********************************************************
/* 이벤트 브라우저 카운트
/**********************************************************/
.eventBrowserCnt{
	fontFamily: "Dinbol"; 
	fontWeight:normal;
    fontSize: 14pt;
    color:#ffffff;
    textAlign:right;
    paddingRight:2;
}


/**********************************************************
/* 이벤트브라우저 필터
/**********************************************************/
.eventBrowserFilter{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;	
	textAlign:"right";
	color:"0xffffff";
	
}


/**********************************************************
/* TobitPopup TitleStyle
/**********************************************************/
.tPopupTitleStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 14pt;
    color:#96c0e4;		
}


/**********************************************************
/* 로그아웃(엑스) 버튼
/**********************************************************/
.logoutButton{
	disabledSkin: Embed("/assets/main/top/btn_closeDisable.png");
	downSkin: Embed("/assets/main/top/btn_closeDown.png");
	overSkin: Embed("/assets/main/top/btn_closeOver.png");
	upSkin: Embed("/assets/main/top/btn_closeUp.png");
}



/**********************************************************
/* 왼쪽방향 화살표 
/**********************************************************/
.leftButton{
	disabledSkin: Embed("/assets/main/top/btn_preDisable.png");
	downSkin: Embed("/assets/main/top/btn_preDown.png");
	overSkin: Embed("/assets/main/top/btn_preOver.png");
	upSkin: Embed("/assets/main/top/btn_preUp.png");
}


/**********************************************************
/* 오른쪽방향 화살표 
/**********************************************************/
.rightButton{
	disabledSkin: Embed("/assets/main/top/btn_nextDisable.png");
	downSkin: Embed("/assets/main/top/btn_nextDown.png");
	overSkin: Embed("/assets/main/top/btn_nextOver.png");
	upSkin: Embed("/assets/main/top/btn_nextUp.png");
}


.tickerButton{
	disabledSkin: Embed("/assets/main/top/btn_ticker_disable.png");
	downSkin: Embed("/assets/main/top/btn_ticker.png");
	overSkin: Embed("/assets/main/top/btn_ticker.png");
	upSkin: Embed("/assets/main/top/btn_ticker.png");
	selectedDownSkin: Embed("/assets/main/top/btn_ticker_disable.png");
	selectedOverSkin: Embed("/assets/main/top/btn_ticker_disable.png");
	selectedUpSkin: Embed("/assets/main/top/btn_ticker_disable.png");
}

.ticker{
	img: Embed("/assets/main/top/naviBullet.png");
}

					
/**********************************************************
/* 화면저장
/**********************************************************/
.printButton{
	disabledSkin: Embed("/assets/main/top/btn_scDisable.png");
	downSkin: Embed("/assets/main/top/btn_scDown.png");
	overSkin: Embed("/assets/main/top/btn_scOver.png");
	upSkin: Embed("/assets/main/top/btn_scUp.png");
}


/**********************************************************
/* 서브 타이틀
/**********************************************************/
.tBoxTitle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 14pt;
    color:#cae9f9;			
}

/**********************************************************
/* 네비
/**********************************************************/
.neviDefaultTitle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 16pt;
    color:#a1b8d2;			
}
.neviSelectTitle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;
    fontSize: 16pt;
    color:#ffffff;			
}




/**********************************************************
/* 시계 문자 스타일
/**********************************************************/
.textClock 
{
	fontFamily : "Dinbol";
	fontWeight: normal ;
	fontSize:15;
	color:#95b5da;
	textAlign:right;
}

/**********************************************************
/* 자산현황
/**********************************************************/
.AssetInfoSubTitleText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 13pt;
	textAlign: "left";	
	color:#c9c9c9;	
	fontWeight:bold;
}

.AssetInfoText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 13pt;
	textAlign: "left";	
	color:#4c9ae5;	
	fontWeight:bold;
}

.AssetInfoTitleText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 14pt;
	textAlign: "center";	
	color:#405682;	
	fontWeight:bold;
}


/**********************************************************
/* 자산현황
/**********************************************************/
.PAssetInfoSubTitleText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 13pt;
	textAlign: "left";	
	color:#c9c9c9;	
	fontWeight:bold;
}

.PAssetInfoText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 13pt;
	textAlign: "left";	
	color:#4c9ae0;	
	fontWeight:bold;
}

.PAssetEditInfoText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 13pt;
	textAlign: "left";	
	color:#FFCCFF;	
	backgroundAlpha:0;
	alpha:1.0;
	borderStyle:none;
	borderThickness:0;
	fontWeight:bold;	
	
	disabledColor:#4c9ae0;	
}


.PAssetInfoTitleText{
	fontFamily: "Yoon 윤고딕 540_TT";  
	fontSize: 14pt;
	textAlign: "center";	
	color:#023c8b;	
	fontWeight:bold;
}


/**********************************************************
/* Button Style



/**********************************************************
/* Label Style
/**********************************************************/
.autoBarText{
	fontFamily: "Yoon 윤고딕 540_TT";
	font-size:13;
	color:#304254;
	borderStyle : "none";
	fontWeight:bold;
}

/* Admin페이지에서 항목 라벨명 스타일입니다.*/
.adminLabel
{
	fontFamily: "Yoon 윤고딕 540_TT";
	font-size:12;
	color:#ffffff;
	borderStyle : "none";
	fontWeight:bold;
}

/* Admin 페이지에서 전체 조회 건수를 표시하는 라벨의 스타일입니다.*/
.adminTotalLabel
{
	fontFamily: "Yoon 윤고딕 540_TT";
	font-size:13;
	color:#ffffff;
	fontWeight:bold;
}

.AssetInfoTitle
{
	fontFamily	: "Dinbol";
	font-size	:15;
	color		:#c3c3c3;
	text-align	:center;
}

/* 자산현황 라벨 스타일 */
.AssetSubject
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	font-size	: 14;
	color		: #bab6b6;
	text-align	: left;
}

/* 자산현황 라벨 스타일 */
.AssetValue
{
	fontFamily	: "Dinbol";
	font-size	: 14;
	color		: #c3c3c3;
	text-align	:left;
}


.blackLabel
{
	fontFamily	: "Dotum";
	font-weight : bold;
	font-size	: 12;
	color		: #000000;
	text-align	: center;
}

.titleLabel
{
	fontFamily	: "Dotum";
	font-weight : bold;
	font-size	: 12;
	color		: #000000;
	text-align	: center;
}

.digitalLabel
{
	fontFamily	: "Digital Readout Thick";
	font-size	: 19;
	color		: #00ff3c;
	letter-spacing : 1;
}

/**********************************************************
/* TextInput Style
/**********************************************************/
/* 관리자 페이지에서 사용하는 TextInput스타일입니다.
 * StateAdminTab1.mxml, StateAdminTab2.mxml, StateAdminTab3.mxml, StateAdminTab4.mxml 
 */
TextInput{
	color		: #082333;
}

.popupTextInput
{
	fontFamily: "Yoon 윤고딕 540_TT";
	font-size:12;
	color:#ffffff;
	backgroundAlpha: 0;
	borderStyle : "none";
	fontWeight:bold;
}

/**********************************************************
/* TabNavigator
/**********************************************************/
DateField{
	date-chooser-style-name: "date-chooser";
}

/**********************************************************
/* Tree
/**********************************************************/
Tree{
 	defaultLeafIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_folderOpenIcon"); 
	color					: #000000;
	fontSize				: 12;
	backgroundAlpha			: 0;
	borderColor				: #434345;
}



/**********************************************************
/* Chart Style
/**********************************************************/
.smsColumChart{
    horizontalAxisStyleName:columChartAxisStyles;
    verticalAxisStyleName:columChartAxisStyles;
}

.columChartAxisStyles {
    tickPlacement:none;
	color:#d1d1d1;
	fontSize:11;
}

/*Chart Legend Font Style*/
LegendItem{
	font-size : 12;
	fontFamily: "Yoon 윤고딕 540_TT";
}


/*
 * Traffic title
 */
.trafficLabel
{
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:	bold;
	textAlign:	left;
	fontSize:	17;
	color:	#fff799;
}

/*
 * Traffic Value
 */
.trafficValueLarge
{
	fontFamily: "Digital Readout Thick";
	fontWeight:	bold;
	textAlign:	right;
	fontSize:	28;
	color:	#4ce8ff;
}


.trafficValueSmall
{
	fontFamily		: "Digital Readout Thick";
	fontWeight		: bold;
	textAlign		: right;
	fontSize		: 18;
	letter-spacing	: 1;
	color			: #4ce8ff;
}

/*
 * Traffic Unit
 */
.trafficUnit
{
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:	bold;
	textAlign:	right;
	fontSize:	12;
	color:	#ffffff;
}


/*
 * Traffic title
 */
.mainTrafficLabel
{
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:	bold;
	textAlign:	left;
	fontSize:	14;
	color:	#fff799;
}

/*
 * Traffic Value
 */
.mainTrafficValue
{
	fontFamily: "Digital Readout Thick";
	fontWeight:	bold;
	textAlign:	right;
	fontSize:	20;
	color:	#4ce8ff;
}

/*
 * Traffic Unit
 */
.mainTrafficUnit
{
	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight:	bold;
	textAlign:	right;
	fontSize:	15;
	color:	#ffffff;
}



/**********************************************************
/*				공통			**
/**********************************************************/
/* font style - bullet*/
.bulletFont
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 14;
	color		: #1f54a4;
	fontWeight	: bold;
}

/* font style - 소 타이틀 */
.subTitleFont
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 15;
	color		: #173458;
	fontWeight	: bold;
}

/* font style - 항목 타이틀 */
.itemTitleFont
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 13;
	color		: #243648;
	fontWeight	: bold;
}

/* font style - 임계치 설정 라디오버튼 타이틀 스타일*/
.thresholdSetupTitle
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 12;
	color		: #001d71;
	fontWeight	: bold;
	textAlign	: center;
}

/* font style - 임계치 설정 라디오버튼 타이틀 스타일*/
.thresholdSetupValue
{
	fontFamily	: "Digital Readout Thick";
	fontSize	: 20;
	color		: #0cc2d2;
	letter-spacing : 1;
	textAlign	: right;
}


/**********************************************************
/*				가정관리			**
/**********************************************************/
/* font style - 센서 임계치 타이틀*/
.sensorInfoTitle
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 14;
	color		: #064070;
	fontWeight	: bold;
	textAlign	: center;
}
/* font style - 센서 임계치 아이템 제목*/
.sensorInfoItemHead
{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 13;
	color		: #6080a8;
	fontWeight	: bold;
	textAlign	: center;
}
/* font style - 센서 임계치 값*/
.sensorInfoItem
{
	fontFamily	: "Digital Readout Thick";
	fontSize	: 25;
	color		: #fcff29;
	textAlign	: right;
	letter-spacing : 2;
}






				
/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2006-2007 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

/*
//------------------------------
//  AccordionHeader
//------------------------------
*/
AccordionHeader
{

	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_disabledSkin");
	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_downSkin");
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_overSkin");
	selectedDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_disabledSkin");
	selectedDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_downSkin");
	selectedOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_overSkin");
	selectedUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_upSkin");
	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="AccordionHeader_upSkin");

}


/*
//------------------------------
//  Button
//------------------------------
*/
Button
{
	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Button_downSkin");
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Button_overSkin");
	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Button_upSkin");
	fontFamily : "Yoon 윤고딕 540_TT";	
	color: #d1d1d1;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;		
}

/* 
//------------------------------ 
//  ButtonBar 
//------------------------------ 
*/ 

ButtonBar 
{ 
        buttonStyleName: "buttonBarButton"; 
        firstButtonStyleName: "firstButtonBarButton"; 
        lastButtonStyleName: "lastButtonBarButton" 
}

/* 
//------------------------------ 
//  ToggleButtonBar 
//------------------------------ 
*/ 

ToggleButtonBar 
{ 
        buttonStyleName: "buttonBarButton"; 
        firstButtonStyleName: "firstButtonBarButton"; 
        lastButtonStyleName: "lastButtonBarButton" 
}

/* 
//------------------------------ 
//  ButtonBarButtons 
//------------------------------ 
*/ 

.firstButtonBarButton 
{ 
        disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstDisabledSkin"); 
        downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstDownSkin"); 
        overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstOverSkin"); 
        selectedDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstSelectedUpSkin"); 
        selectedOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstSelectedUpSkin");
        selectedUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstSelectedUpSkin");
        upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_firstUpSkin"); 
}
.buttonBarButton 
{ 
        disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonDisabledSkin"); 
        downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonDownSkin"); 
        overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonOverSkin"); 
        selectedDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonSelectedUpSkin"); 
        selectedOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        selectedUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonSelectedUpSkin");
        upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_buttonUpSkin"); 
}

.lastButtonBarButton 
{ 
        disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastDisabledSkin"); 
        downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastDownSkin"); 
        overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastOverSkin"); 
        selectedDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastSelectedDisabledSkin"); 
        selectedDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastSelectedUpSkin"); 
        selectedOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastSelectedUpSkin");
        selectedUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastSelectedUpSkin");
        upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ButtonBar_lastUpSkin"); 
}

/*
//------------------------------
//  CheckBox
//------------------------------
*/
CheckBox
{
	disabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="CheckBox_upIcon");
}		

/*
//------------------------------
//  ComboBox
//------------------------------
*/
ComboBox
{

	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_downSkin");
	editableDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ComboBoxArrow_upSkin");
	
	color: #d1d1d1;
	useRollOver: true;
	selectionColor: #5b6b97;
	fontSize: 12;
	rollOverColor: #404c6e;	
	fontWeight:normal;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;	
	dropDownStyleName: "myComboBoxDropDowns";
}		

.myComboBoxDropDowns {
	color				: #ffffff;
	alternatingItemColors: #3e4258, #484d67;
	fontSize			: 12;
	dropShadowEnabled	: false;
	shadowDistance		: -4;
}


/*
//------------------------------
//  ColorPicker
//------------------------------
*/
ColorPicker
{
	disabledSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
	downSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
	overSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
	upSkin: ClassReference("mx.skins.halo.ColorPickerSkin");
}

/*
//------------------------------
//  CursorManager
//------------------------------
*/
CursorManager
{

	/* busyCursor: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="BusyCursor"); */
	/* busyCursorBackground: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="BusyCursor"); */

}

/*
//------------------------------
//  DataGrid
//------------------------------
*/
DataGrid
{
   alternatingItemColors: #3e4258, #484d67;
   horizontalGridLines: false;
   verticalGridLines: true;
   verticalGridLineColor: #27262b;
   rollOverColor: #404c6e;
   textRollOverColor: #fdfdfd;
   borderColor: #1b1a1e;
   selectionColor: #5b6b97;
   color: #bab6b6;
   textSelectedColor: #a5c8f2;
	/* 
	columnDropIndicatorSkin	: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin		: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin		: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin			: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor			: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DataGrid_stretchCursor");
	 */
	headerStyleName 		: "DataGridHeaderStyle";
}
AdvancedDataGrid
{
	alternatingItemColors: #3e4258, #484d67;
   horizontalGridLines: false;
   verticalGridLines: true;
   verticalGridLineColor: #27262b;
   rollOverColor: #404c6e;
   textRollOverColor: #fdfdfd;
   borderColor: #1b1a1e;
   selectionColor: #5b6b97;
   color: #bab6b6;
   textSelectedColor: #a5c8f2;
	/* 
	columnDropIndicatorSkin	: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin		: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin		: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin			: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor			: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DataGrid_stretchCursor");
 */
	headerStyleName 		: "DataGridHeaderStyle";
}


.DataGridHeaderStyle
{
	textAlign : "center";
	fontWeight: bold;
	color: #253443;
}
/*
//------------------------------
//  DateChooser
//------------------------------
*/
DateChooser
{
	nextMonthDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextMonthDisabledSkin");
	nextMonthDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextMonthDownSkin");
	nextMonthOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextMonthOverSkin");
	nextMonthUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextMonthUpSkin");
	prevMonthDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevMonthDisabledSkin");
	prevMonthDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevMonthDownSkin");
	prevMonthOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevMonthOverSkin");
	prevMonthUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevMonthUpSkin");
	
	nextYearDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextYearDisabledSkin");
	nextYearDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextYearDownSkin");
	nextYearOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextYearOverSkin");
	nextYearUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_nextYearUpSkin");
	prevYearDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevYearDisabledSkin");
	prevYearDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevYearDownSkin");
	prevYearOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevYearOverSkin");
	prevYearUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_prevYearUpSkin");

	todayIndicatorSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_todayIndicatorSkin");	
	
	rollOverIndicatorSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_rollOverIndicatorSkin");
	selectionIndicatorSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DateChooser_selectionIndicatorSkin");
	
}

/*
//------------------------------
//  DateField
//------------------------------
*/
DateField
{
	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DateField_disabledSkin"); 
	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DateField_downSkin"); 
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DateField_overSkin"); 
	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DateField_upSkin"); 
}

/*
//------------------------------
//  DividedBox
//------------------------------
*/
DividedBox
{
	dividerSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_verticalCursor");
}

/*
//------------------------------
//  DragManager
//------------------------------
*/
DragManager
{
	copyCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DragManager_copyCursor");

	defaultDragImageSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="DragManager_defaultDragImageSkin");

	linkCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DragManager_linkCursor");
	moveCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DragManager_moveCursor");
	rejectCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DragManager_rejectCursor");
}

/*
//------------------------------
//  FormItem
//------------------------------
*/
FormItem
{
	indicatorSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="FormItem_indicatorSkin");  
}

/*
//------------------------------
//  HDividedBox
//------------------------------
*/
HDividedBox
{
	dividerSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_verticalCursor");
}


/*
//------------------------------
//  HSlider
//------------------------------
*/
HSlider
{

	thumbDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderThumb_downSkin");
	thumbOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderThumb_overSkin");
	thumbUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderThumb_upSkin");
	trackHighlightSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderHighlight_Skin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderTrack_Skin");

}

/*
//------------------------------
//  Image
//------------------------------
*/
Image
{

	brokenImageSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Loader_brokenImageSkin");

}

/*
//------------------------------
//  Loader
//------------------------------
*/
Loader
{

	brokenImageSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Loader_brokenImageSkin");

}

/*
//------------------------------
//  Menu
//------------------------------
*/
Menu
{
	branchIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_branchIcon");
	branchDisabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_branchDisabledIcon");
	checkIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_checkIcon");
	checkDisabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_checkDisabledIcon");
	radioIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_radioIcon");
	radioDisabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_radioDisabledIcon");
	separatorSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Menu_separatorSkin");
}

/*
//------------------------------
//  MenuBar
//------------------------------
*/
MenuBar
{

	backgroundSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="MenuBar_backgroundSkin");
	itemUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="MenuBar_itemUpSkin");
	itemOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="MenuBar_itemOverSkin");
	itemDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="MenuBar_itemDownSkin");

}

/*
//------------------------------
//  NumericStepper
//------------------------------
*/
NumericStepper
{

	downArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperDownArrow_DisabledSkin");
	downArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperDownArrow_DownSkin");
	downArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperDownArrow_OverSkin");
	downArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperDownArrow_UpSkin");
	upArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperUpArrow_DisabledSkin");
	upArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperUpArrow_DownSkin");
	upArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperUpArrow_OverSkin");
	upArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="NumericStepperUpArrow_UpSkin");

}


/*
//------------------------------
//  Panel
//------------------------------

Panel
{

	closeButtonDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDisabled");
	closeButtonDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDown");
	closeButtonOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonOver");
	closeButtonUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonUp");
	titleBackgroundSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PanelTitleBackground");

}
*/
Alert
{
	/* 
	closeButtonDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDisabled");
	closeButtonDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDown");
	closeButtonOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonOver");
	closeButtonUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonUp");
	titleBackgroundSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PanelTitleBackground");
	 */
	headerColors: #3c8bb2, #195c90;
	messageStyleName: "alertMessage";
	headerHeight: 20;
	dropShadowEnabled: true;
	shadowDistance: 7;
	shadowDirection: right;
	cornerRadius: 5;
	embedFonts: true;
	borderThickness: 1;
	borderColor: #1f263a;
	borderAlpha: 0.9;
	header-style-name:alertHearder;
	buttonStyleName: "alertButton";
}

.alertButton {
	backgroundColor: #1f263a;
	backgroundAlpha: 0.9;
	cornerRadius: 5;
	letterSpacing: 0;
	fontSize: 12;
	color: #d1d1d1;
}


.alertHearder{
	fontFamily	: "Yoon 윤고딕 540_TT";
	fontSize	: 13;
	color		: #eeeeee;
	fontWeight	: bold;
}

.alertMessage {
          backgroundColor: #1f263a;
          backgroundAlpha: 0.9;
          cornerRadius: 5;
            letterSpacing: 0;
            fontSize: 12;
            color: #d1d1d1;

}

/**********************************************************
/* 백업현황 스타일
/**********************************************************/

.backupSubText{
	fontFamily: "Yoon 윤고딕 540_TT";
    fontSize: 16pt;
    fontWeight:bold;
    color:#d1d1d1;			
}


.backupNowDateStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
    fontSize: 75pt;
    color:#72a4ff;
    fontWeight:bold;
    textAlign: "center";		

}

.backupSuccessStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
    fontSize: 65pt;
    color:#3be1ff;
    fontWeight:bold;
    textAlign: "center";

}

.backupFailStyle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
    fontSize: 65pt;
    color:#ffa200;
    fontWeight:bold;
    textAlign: "center";			
}



.cntText{
	fontFamily: "Dinbol"; 
    fontSize: 19pt;
    color:#cdfff9;
    textAlign: "right";	
    letterSpacing : -1;
}




/**********************************************************
/* WAS 성능 현
/**********************************************************/
/**********************************************************
/* 구성도 바 버튼 open
/**********************************************************/
.openBtn{
	disabledSkin: Embed(source="assets/buttons/btn_openDisable.png");
	downSkin: Embed(source="assets/buttons/btn_openDown.png");
	overSkin: Embed(source="assets/buttons/btn_openOver.png");
	upSkin: Embed(source="assets/buttons/btn_openUp.png");
}
/**********************************************************
/* 구성도 바 버튼 close
/**********************************************************/
.closeBtn{
	disabledSkin: Embed(source="assets/buttons/btn_hideUp.png");
	downSkin: Embed(source="assets/buttons/btn_hideDown.png");
	overSkin: Embed(source="assets/buttons/btn_hideOver.png");
	upSkin: Embed(source="assets/buttons/btn_hideUp.png");
}

/**********************************************************
/* 구성도 렉구성 장비추가버튼
/**********************************************************/
.addHWBtn{
	disabledSkin: Embed(source="assets/buttons/btn_addHW.png");
	downSkin: Embed(source="assets/buttons/btn_addHW.png");
	overSkin: Embed(source="assets/buttons/btn_addHW.png");
	upSkin: Embed(source="assets/buttons/btn_addHW.png");
	selectedDownSkin: Embed("/assets/buttons/btn_closeHWlist.png");
	selectedOverSkin: Embed("/assets/buttons/btn_closeHWlist.png");
	selectedUpSkin: Embed("/assets/buttons/btn_closeHWlist.png");	
}

.legendText{
	fontSize: 11pt;
	fontWeight:bold;
	textAlign: "center";	
	fontFamily: "Yoon 윤고딕 540_TT"; 
	color:#d1d1d1;
}

AreaChart{
    horizontalAxisStyleName:lineChartAxisStyles;
    verticalAxisStyleName:lineChartAxisStyles;
}

LineChart {
    horizontalAxisStyleName:lineChartAxisStyles;
    verticalAxisStyleName:lineChartAxisStyles;
}

.lineChartAxisStyles {
    tickPlacement:none;
	fontSize:11;
	fontFamily: "Dinbol";
	font-weight:normal;
	color:#d1d1d1;
}


ColumnChart {
	fontSize: 11pt;
    horizontalAxisStyleName: horizontalAxisStyles;
    verticalAxisStyleName: verticalAxisStyles;
}

BarChart {
	fontSize: 11pt;
    horizontalAxisStyleName: horizontalAxisStyles;
}

.horizontalAxisStyles {
   	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight: bold;
	fontSize:11;
	tickPlacement:none;
	color:#d1d1d1;
}

.verticalAxisStyles {
    fontFamily: "Dinbol";
	fontWeight: normal;
	fontSize:11;
	tickPlacement:none;
	color:#d1d1d1;    
}

.barVerticalAxisStyles {
   	fontFamily: "Yoon 윤고딕 540_TT";
	fontWeight: bold;
	fontSize:15;
	tickPlacement:none;
	color:#d1d1d1;
}

/*
//------------------------------
//  PopUpButton
//------------------------------
*/
PopUpButton
{

	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_DisabledSkin");

	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_downSkin");
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_overSkin");	
	popUpDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_popUpDownSkin");
	popUpOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_popUpOverSkin");

	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PopUpButton_upSkin");
}


/*
//------------------------------
//  ProgressBar
//------------------------------
*/
ProgressBar
{

	barSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ProgressBarSkin");
	indeterminateSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ProgressIndeterminateSkin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ProgressTrackSkin");

}

/*
//------------------------------
//  RadioButton
//------------------------------
*/
RadioButton
{

	disabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButton_disabledIcon");
	downIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButton_downIcon");
	overIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButton_overIcon");
	selectedDisabledIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButtonSelected_disabledIcon");
	selectedDownIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButtonSelected_downIcon");
	selectedOverIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButtonSelected_overIcon");
	selectedUpIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButtonSelected_upIcon");
	upIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="RadioButtonIcon");

}

/*
//------------------------------
//  RichTextEditor
//------------------------------
*/
RichTextEditor
{
	closeButtonDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDisabled");
	closeButtonDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDown");
	closeButtonOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonOver");
	closeButtonUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonUp");
	titleBackgroundSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PanelTitleBackground");
}

/*
//------------------------------
//  ScrollBar
//------------------------------
*/
ScrollBar
{

	downArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_upSkin");

}

/*
//------------------------------
//  HScrollBar
//------------------------------
*/
HScrollBar
{

	downArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_upSkin");

}

/*
//------------------------------
//  VScrollBar
//------------------------------
*/
VScrollBar
{

	downArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_disabledSkin");
	downArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_downSkin");
	downArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_overSkin");
	downArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowDown_upSkin");
	thumbDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_downSkin");
	thumbIcon: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollBar_thumbIcon");
	thumbOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_overSkin");
	thumbUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollThumb_upSkin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollTrack_Skin");
	upArrowDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_disabledSkin");
	upArrowDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_downSkin");
	upArrowOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_overSkin");
	upArrowUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ScrollArrowUp_upSkin");

}

/*
//------------------------------
//  Tab
//------------------------------
*/
Tab
{

	disabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Tab_disabledSkin");
	downSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Tab_downSkin");
	overSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Tab_overSkin");
	selectedDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="TabSelected_disabledSkin");
	selectedDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="TabSelected_upSkin");
	selectedOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="TabSelected_upSkin");
	selectedUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="TabSelected_upSkin");
	upSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="Tab_upSkin");

}

/*
//------------------------------
//  TitleWindow
//------------------------------
*/
TitleWindow
{
	closeButtonDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDisabled");
	closeButtonDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonDown");
	closeButtonOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonOver");
	closeButtonUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="CloseButtonUp");
	titleBackgroundSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="PanelTitleBackground");
}

/*
//------------------------------
//  ToolTip
//------------------------------
*/
ToolTip
{
	backgroundColor: #48679c;
	color: #ffce81;	
	fontSize: 12;
/* 	borderSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="ToolTip_borderSkin"); */

}

/*
//------------------------------
//  Tree
//------------------------------
*/
Tree
{
	defaultLeafIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="Tree_folderOpenIcon");
	rollOverColor: #c9c9e2;
	selectionColor: #c1e8b9;	
}
/*
//------------------------------
//  VDividedBox
//------------------------------
*/
VDividedBox
{
	dividerSkin: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="AeonGraphical_DARK_NEIS.swf",symbol="DividedBox_verticalCursor");
}

/*
//------------------------------
//  VSlider
//------------------------------
*/
VSlider
{

	thumbDisabledSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="VSliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="VSliderThumb_downSkin");
	thumbOverSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="VSliderThumb_overSkin");
	thumbUpSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="VSliderThumb_upSkin");
	trackHighlightSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderHighlight_Skin");
	trackSkin: Embed(source="AeonGraphical_DARK_NEIS.swf", symbol="HSliderTrack_Skin");

}


HRule{
	shadowColor:"0x3c3f4a";
	strokeColor:"0x08090c";
}

VRule{
	shadowColor:"0x3c3f4a";
	strokeColor:"0x08090c";
}


 
.serviceCnt{
	fontFamily	: "Dinbol";
	fontSize	:27;
	color:#00ffff;    
	textAlign	:right;	
	fontWeight:normal;
}

.serviceTitle{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;	
	fontSize	:15;
	color:#205082;    
	letter-spacing : -1;
}

.chartRotationTitle{
	fontFamily: "Dinbol"; 
	fontWeight:normal;
	fontSize	:11;
	color:#ffffff;    
} 

/* Ticker 뉴스 문자 스타일*/
.textTicker 
{
	fontFamily : "Yoon 윤고딕 540_TT";
	fontWeight:bold;
	fontSize:18;
	color:#ffffff;
	paddingTop:3;
}


.priorityLabel{
	fontFamily: "Yoon 윤고딕 540_TT"; 
	fontWeight:bold;	
	fontSize :40;
	color:#d1d1d1;
}

